# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# System files
.DS_Store
Thumbs.db
desktop.ini

# User data that may accidentally enter
*.csv

# Exe files created by PyInstaller
dist/
build/
*.spec